html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#home {
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(2, 191, 2);
}

.Home {
    margin-right: 10px;
}

.Header {
    flex-grow: 1;
    text-align: center;
}


.fa-solid {
    font-size: 2em; 
    cursor: pointer;
}


h1 {
    font-size: 3em; 
}
